@import 'font-awesome/css/font-awesome.min.css';
@import 'material-icons/iconfont/material-icons.css';

.header {
  position: absolute;
  width: 100%;
  margin-top: -150px; 
  font-size: 24px;
  padding: 20px;   
}
  
.content {
  margin-top: 50px;
  padding: 20px;
}



.info {
  background-color: antiquewhite; 
  padding-left: 300px;
  border-radius: 5px;
}


.box {
  display: inline-block;
  width: 250px;
  height: 170px;
  margin: 10px;
  border: 1px solid  lightgray;
  background-color: lightgray;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.box-sm {
  width: 150px;
  height: 75px;
}

.box-md {
  width: 175px;
  height: 87.5px;
}

.box:hover {
  transform: scale(1.05); 
}