@import 'font-awesome/css/font-awesome.min.css';
@import 'material-icons/iconfont/material-icons.css';


  
.content {
  padding: 20px;
}

.info {
  background-color: antiquewhite; 
  border-radius: 5px;
}

.container {
  border-radius: 5px;
  background-color: none;
  min-width: 2000px ;
  height: 940px;
}


.box-big{
  display: inline-block;
  width: 900px;
  height: 830px;
  border: 1px solid  gainsboro;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  padding: 10px;

}

.box-small {
  display: inline-block;
  width: 880px;
  height: 390px;
  border: 1px solid  gainsboro;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}



@media (max-width: 2300px) {
  .container {
    min-width: 1600px ;
    height: 870px;
  }
  .box-small {
    width: 680px;
    height: 350px;
  }
  .box-big {
    width: 800px;
    height: 760px;
  }
}

@media (max-width: 1900px) {
  .container {
    min-width: 1400px ;
    height: 850px;
  }
  .box-small {
    width: 620px;
    height: 343px;
  }
  .box-big {
    width: 620px;
    height: 750px;
  }
}
@media (max-width: 1720px) {
  .container {
    min-width: 1160px ;
    height: 800px;
  }
  .box-small {
    width: 550px;
    height: 320px;
  }
  .box-big {
    width: 550px;
    height: 700px;
  }
}

@media (max-width: 1560px) {
  .box-small {
    width: 510px;
    height: 320px;
  }
  .box-big {
    width: 510px;
    height: 700px;
  }
}

.box-portfolio {
  width: 100px;
  height: 430px;
  border: 1px solid  lightgray;
  background-color: lightgray;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}


.box-small:hover {
  transform: scale(1.004); 
  border-color: gray;
}
.box-big:hover {
  transform: scale(1.004); 
  border-color: gray;

}